In [4]:
import datetime as dt
from bs4 import BeautifulSoup
import requests
import re
import time
import random
import pandas as pd
import os
import numpy as np

In [2]:
data = pd.read_csv('HistoricalDK.csv')

In [3]:
data

,Week,Year,GID,Name,Pos,Team,h/a,Oppt,DK points,DK salary
0,1,2017,1254,"Smith, Alex",QB,kan,a,nwe,34.02,5400.0
1,1,2017,1344,"Bradford, Sam",QB,min,h,nor,28.54,5900.0
2,1,2017,1340,"Stafford, Matthew",QB,det,h,ari,28.08,6100.0
3,1,2017,1514,"Wentz, Carson",QB,phi,a,was,23.88,5300.0
4,1,2017,1488,"Siemian, Trevor",QB,den,h,lac,23.66,5000.0
...,...,...,...,...,...,...,...,...,...,...
20414,17,2019,7026,LA Chargers,Def,lac,a,kan,1.00,1900.0
20415,17,2019,7001,Arizona,Def,ari,a,lar,0.00,2400.0
20416,17,2019,7020,New York G,Def,nyg,h,phi,0.00,2300.0
20417,17,2019,7005,Carolina,Def,car,h,nor,-3.00,2000.0
20418,17,2019,7032,Houston,Def,hou,h,ten,-4.00,2800.0

In [10]:
data.drop(['Week', 'Year', 'GID','h/a','Team','Oppt'], axis=1)

In [13]:
pos_salary_points = data.groupby(['Pos','DK salary']).mean()

In [15]:
pos_salary_points.to_csv('pos_sal_avg.csv')